VITE_FIREBASE_API_KEY=AIzaSyBrov5FTBpfIbTcLtQjVBVcXovceP07iJk
VITE_FIREBASE_AUTH_DOMAIN=tracebloommain.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tracebloommain
VITE_FIREBASE_STORAGE_BUCKET=tracebloommain.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=10772107849
VITE_FIREBASE_APP_ID=1:10772107849:web:6ae85a7e4ae690e260a598
VITE_GEMINI_KEY=AIzaSyB_SubR73jfXakcPfzfxlTzNX3reT4ZKVU
VITE_MAPS_KEY=AIzaSyByZMsBnQ4hKFufVaNNG8WJQK-NoESK9tQ

